<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gplvote.signdoc"
    android:versionCode="13"
    android:versionName="1.10" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/signdoc"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="org.gplvote.signdoc.DocsList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.gplvote.signdoc.InitKey"/>
        <activity android:name="org.gplvote.signdoc.RegisterSign"/>
        <activity android:name="org.gplvote.signdoc.DoSign">
            <intent-filter>
                <action android:name="org.gplvote.signdoc.DO_SIGN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="org.gplvote.signdoc.MainActivity"/>
    </application>

</manifest>
